<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<body>

<div th:fragment="login">
<div class="modal fade"  id="loginModal" >
<div class="row modal-dialog">
    <div class="span12">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3>Have an Account?</h3>
            </div>
            <div class="modal-body">
                <div class="well">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#login" data-toggle="tab">Login</a></li>
                        <li><a href="#create" data-toggle="tab">Create Account</a></li>
                    </ul>
                    <br/>
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane active in" id="login">
                            <div class="form-horizontal" >
                                <fieldset>
                                    <div id="legend">
                                        <legend class="">Login</legend>
                                    </div>
                                    <div class="control-group">
                                        <!-- Username -->
                                        <label>Username</label>
                                        <div class="controls">
                                            <input type="text" id="username" name="username" placeholder="" class="input-xlarge"/>
                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <!-- Password-->
                                        <label >Password</label>
                                        <div class="controls">
                                            <input type="password" id="password" name="password" placeholder="" class="input-xlarge"/>
                                        </div>
                                    </div>


                                    <div class="control-group">
                                        <!-- Button -->
                                        <div class="controls"><br/>
                                            <button class="btn btn-success" id="loginButton">Login</button>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            </div>
                        <div class="tab-pane fade " id="create">
                            <div id="tab" class="register">
                                <div class="control-group">
                                    <label id="username-label">Username</label>
                                    <input type="text" name="username" class="input-xlarge"/>
                                </div>

                                <label>Email</label>
                                <input type="text" name="email" class="input-xlarge"/>
                                <label>Password</label>
                                <input type="password" name="password" class="input-xlarge"/>
                                <label>Confirm password</label>
                                <input type="password" name="passwordConfirm" class="input-xlarge"/>


                                <div>
                                    <br/>
                                    <button class="btn btn-primary" id="registerButton">Create Account</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
    </body>
    </html>